.tipol{
    margin-top: -0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    display: grid;
}

.titulol{
    margin-top: -25px;
    font-family: Consolas;
    text-align: center;
    justify-content: center;
    display: grid;
    font-size: 30px;
    margin-bottom: -5px;
}

.categoria{
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    display: grid;
    grid-template: 50% /50% 50% ;
    background: #ffffffef;
}
.fototiendas{
    border: 2px solid #5c1914ef;
    margin-left: -0px;
    height: 100%;
}
.nombre{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -2px;
    border-radius: 10px;
    width: 175px;
    margin-left: -5px;
    background-color: #ffdede8f;
    text-align: center;
    justify-content: center;
}
.Categorias{
   
    margin-top: 0px;
    margin-bottom: -10px;
   
    
}
 

.titulo3{
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 50px;
    font-family: monospace;
    color: #ff9999;
}
.MapaRow{
    justify-content:center;
    text-align: center;
}

.selector{
    
    display: grid;
    grid-template: 100% / 50% 50% ;
    margin-bottom: 5px;

}
.mapa{
    
    justify-content:center;
    text-align: center;
    display: grid;
    grid-template: 5% 95% / 100% ;
    margin-bottom: 1%;
}
.mapasEve{
    text-align: center;
    justify-content: center;
    height: 240px;

}
.mapas{
    text-align: center;
    justify-content: center;
    height: 310px;
    
    
}

.errorcategorias{
    text-align: center;
    justify-content: center;
    width: 360px;
    height: 310px;
    margin-right:auto;
    margin-left: auto;


}

/*filtro 2 */
.filtro2{
    
    background: #ff9999;
    border: 0.5px solid #ffffffef;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 30px;
    width: 95%;
    align-items:center  ;
}
.alert-radio-group.sc-ion-alert-md, .alert-checkbox-group.sc-ion-alert-md {
    position: relative;
    max-height: 266px;
    border-top: 1px solid #ff9999;
    border-bottom: 1px solid #ff9999;
    overflow: auto;
}
.alert-head.sc-ion-alert-md {
    padding-left: 0px; 
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom:0px;
    text-align: start;
    height: 30px;
    background-color: #ffabab;
}
.alert-button-group.sc-ion-alert-md {
    
    
    padding-top: 0px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
ion-select::part(icon) {
    
    color: #fff8f8;
    opacity: 1;
    
    
  }
ion-select::part(text) {

color: #ffffff;
font-size: medium;

}
  

/*filtro 1 */
.filtro1{
    background: #ff9999;
    border: 0.5px solid #ffffffef;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 30px;
    width: 90%;
    align-items:center  ;
    margin-left: -2px;
} 


ion-select {
    --placeholder-color: #ffffff;
    --placeholder-opacity: 1; 
}

.colFilterOne{
    margin-right: 10%;
}
.colFiltertwo{
    margin-left: 5%;
}

  
  
  

  
  




