.tiendas{
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template: 110px 20px 110px 20px 110px 20px 110px 20px/170px 170px ;
    background: #ffffffef;
}


.t1 ,.t2,.t3,.t4,.t5,.t6{
    width: 150px;
    height: 100px;
    border: 2px solid #5c1914ef; 
}
.ext1{
    color:rgb(141, 141, 5);
    display: grid;
    grid-template: 10px/90px 40px;
    margin-top: -10px;
}
.ext1 h3{
    margin-top: -5px;
}

.slider{
    margin-top: -10px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
   
}
.seccion:checked{
    background-color: #db4756;
    
}
.seccion{
    margin-top: 15px;
    border: 1px solid #000000;
    color: rgb(2, 2, 2);
}
.subseccion{
    margin-top: -5px;
    
}
ion-segment {
    --indicator-box-shadow: transparent !important;
    
    --background-checked:rgb(255, 255, 255);
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5mm;
  }


p{
    margin-top: 20px;
    color: white;
    font-size: 10px;
}
.todos{
    background-color: #db4756;
    margin-left: -30px;
    width: 100px;
    height: 35px;
    margin-top: -2px;
    color: #ffffff;
    font-size: 10PX;
    border: 2px solid #070707ef;
    border-radius: 5mm;
}
.descuentos{
    background-color: #db4756;
    width: 100px;
    height: 35px;
    margin-top: -2px;
    font-size: 10PX;
    color: #ffffff;
    margin-left: -10px;
    border: 2px solid #070707ef;
    border-radius: 5mm;
}
.promociones{
    background-color: #db4756;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    font-size: 10PX;
    color: #ffffff;
    margin-top: -2px;
    border: 2px solid #070707ef;
    border-radius: 5mm;
}

.colFilterOneT{
    display: grid;
    grid-template: 30px/30% 70%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
}
/*filtro 1 */
.filtroT{
    justify-content: center;
    background: #ff9999;
    border: 0.5px solid #ffffffef;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 30px;
    width: 95%;
    align-items:center  ;
    margin-left: -2px;
} 
.TitleF{
    margin-left: 20%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.tituloTodos{
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: #000000;
    text-align: left;
    margin-top: 5px;
    margin-left: 2%;
    justify-content: left;
    margin-bottom: 10px;
    font-size: 25px;
    
}
ion-select {
    --placeholder-color: #ffffff;
    --placeholder-opacity: 1; 
}

.colFilterOne{
    margin-left: 10%;
}
    


