.cuadro{
    justify-content: center;
}

.datos{
    
    
    align-items: center;
    text-align: left;
    justify-content: center;
    background: red;
    
    height: 100%;
    display: grid;
    width: 100%;
}
.DatosB{
    
    color: rgb(0, 0, 0);
    width: 100%;
    border-bottom: 1px ridge #dadadaef;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, SERIF;
    height: 32px;
    margin-top: -0px;

}
.cuadroPage{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.congratulations{
    border-radius: 10000px;
    margin-top: -5px;
    height: 40px;
    width: 150px;
    background-color: #72cb10;
}