.logosRow{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template:  auto/ 50px  auto  auto  auto auto auto auto;
    overflow: hidden;
    overflow-x:scroll;
    padding-left: 0%;
    padding-right: 0%;
}